.workspace-index {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  min-height: calc(100dvh - $app-header-height);

  .main-content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    min-height: calc(100dvh - $app-header-height);
  }

  .right-col {
    margin-block-start: em(10px);
    padding-inline-start: em(20px);
  }
}
