// Breakpoint mixins

@mixin for-normal-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-small-layout {
  @media (max-width: $break-small) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

////////////////////////////

@mixin link($color: $hovered-font-clr) {
  &.active {
    position: relative;
    font-family: LatoBold;
    color: $main-theme-clr;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: -6px;

      width: 6px;
      height: 100%;

      background-color: $main-theme-clr;
    }

    svg {
      fill: $main-theme-clr;
    }
  }

  &:hover {
    background-color: $group-header-bg-clr;

    article {
      background-color: $group-header-bg-clr;
    }
  }

  &:not(.active):hover {
    color: $color;

    article {
      background-color: $group-header-bg-clr;

      h4 {
        color: $color;
      }
    }

    svg {
      fill: $hovered-font-clr;
    }
  }

  svg {
    width: 16px;
    height: 16px;

    fill: $secondary-font-clr;
  }
}

@mixin listHeader {
  @include link($secondary-font-clr);

  padding-inline: 5px;
  border-block-start: 1px solid $list-header-border-top-clr;
  border-block-end: 1px solid $expense-border-clr;

  color: $main-column-border-clr;
  background-color: $list-header-bg-clr;

  &:hover {
    border-block-start-color: $hovered-list-header-border-top-clr;
    border-block-end-color: $hovered-list-header-border-bottom-clr;
  }
}

@mixin btnAdd {
  position: relative;

  font-size: inherit;
  color: inherit;
  background-color: transparent;

  &:hover {
    color: $main-theme-clr;
  }

  &::before {
    content: '\2b';
    font-family: faSolid;

    position: absolute;
    top: 50%;
    left: -6px;
    transform: translateY(-50%);
  }
}

@mixin overflowTxt() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin profilePicture($width: em(34px), $height: em(34px)) {
  width: $width;
  height: $height;

  border: 1px solid $profile-picture-border-clr;
  border-radius: 50%;
}

@mixin btnX($color: $btn-remove-clr) {
  font-family: FaSolid;
  content: '\58';
  color: $color;
}

@mixin pillBtn($border-style, $color: $hovered-font-clr) {
  padding: 2px 5px 0;
  border-radius: 2em;
  border: 1px $border-style $main-column-border-clr;

  color: $color;
  background-color: $pill-btn-bg-clr;

  &:hover {
    background-color: $expense-border-clr;
  }
}

@mixin modal {
  border: 1px solid $secondary-font-clr;
  border-radius: 6px;

  box-shadow: $modal-shadow;
  background-color: $surface-clr;
  z-index: 1;
}

@mixin modalHeader {
  padding: em(10px);
  color: $surface-clr;
  text-shadow: 0 -1px 0 $main-theme-clr-10;
  background-color: $main-theme-clr;

  .modal-title {
    font-size: em(18px);
    font-family: LatoBold;
  }

  .btn-close-modal {
    background-color: transparent;

    &:hover {
      &::before {
        color: $main-theme-clr--10;
      }
    }

    &::before {
      @include btnX($surface-clr);
    }
  }
}

@mixin btnAction($bgc: transparent, $color: $surface-clr) {
  padding: rem(9px) rem(14px);
  border-radius: $el-br;
  border-width: 1px;
  border-style: solid;

  font-size: em(15px);
  color: $color;
  background-color: $bgc;
  box-shadow: $btn-action-shadow;
}

@mixin mainColumnContainer {
  border-inline: 1px solid $main-column-border-clr;
  box-shadow: $main-column-shadow;
}

@mixin capitalizedTitle($size, $line-height) {
  text-transform: uppercase;
  color: $secondary-font-clr;
  font-size: $size;
  line-height: $line-height;
  font-family: LatoBold;
}

@mixin loadingMsg($font-size: em(24px)) {
  font-size: $font-size;
  font-family: $main-font-family;
  font-weight: normal;
  color: $secondary-font-clr;
  opacity: 0.6;
}
