// Breakpoint mixins

@mixin for-normal-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-small-layout {
  @media (max-width: $break-small) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

////////////////////////////

@mixin link($color: $hovered-font-clr) {
  &.active {
    position: relative;
    font-family: LatoBold;
    color: $main-theme-clr;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: -6px;

      width: 6px;
      height: 100%;

      background-color: $main-theme-clr;
    }

    svg {
      fill: $main-theme-clr;
    }
  }

  &:not(.active):hover {
    color: $color;
    background-color: $group-header-bg-clr;

    svg {
      fill: $hovered-font-clr;
    }
  }

  svg {
    width: 16px;
    height: 16px;

    fill: $secondary-font-clr;
  }
}

@mixin listHeader {
  @include link($secondary-font-clr);

  padding-inline: 5px;
  border-block-start: 1px solid $list-header-border-top-clr;
  border-block-end: 1px solid $expense-border-clr;

  color: $main-column-border-clr;
  background-color: $list-header-bg-clr;

  &:hover {
    border-block-start-color: $hovered-list-header-border-top-clr;
    border-block-end-color: $hovered-list-header-border-bottom-clr;
  }
}

@mixin btnAdd {
  position: relative;

  font-size: inherit;
  color: inherit;
  background-color: transparent;

  &:hover {
    color: $main-theme-clr;
  }

  &::before {
    content: '\2b';
    font-family: faSolid;

    position: absolute;
    top: 50%;
    left: -6px;
    transform: translateY(-50%);
  }
}

@mixin overflowTxt() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin profilePicture() {
  width: em(34px);
  height: em(34px);

  border: 1px solid $profile-picture-border-clr;
  border-radius: 50%;
}

@mixin pageHeader {
  padding: em(13px) em(10px) em(10px);
  border-block-end: 1px solid $group-header-border-clr;
  background-color: $expense-border-clr;
}
