@font-face {
  font-family: LatoRegular;
  src: url(/assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(/assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: faRegular;
  src: url(/assets/fonts/fa/fa-regular-400.ttf);
}

@font-face {
  font-family: faSolid;
  src: url(/assets/fonts/fa/fa-solid-900.ttf);
}

@font-face {
  font-family: faSolid;
  src: url(/assets/fonts/fa/fa-brands-400.ttf);
}
