// Layout colors
$surface-clr: rgb(255, 255, 255);
$group-header-bg-clr: rgb(238, 238, 238);
$list-header-bg-clr: rgb(246, 246, 246);
$hovered-expense-bg-clr: rgb(248, 248, 248);

// Layout dimensions
$app-header-height: 33px;
$main-container-width: 960px;
$expense-preview-height: 55px;

// Font
$main-font-family: LatoRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-font-clr: rgb(51, 51, 51);
$secondary-font-clr: rgb(153, 153, 153);
$hovered-font-clr: rgb(102, 102, 102);
$expense-decs-clr: rgb(170, 170, 170);

// Theme color
$main-theme-clr-10: rgb(49, 138, 113);
$main-theme-clr-5: rgb(65, 183, 149);
$main-theme-clr: rgb(91, 197, 167);
$main-theme-clr--10: rgb(205, 237, 228);

$secondary-theme-clr-20: rgb(200, 52, 0);
$secondary-theme-clr-10: rgb(255, 82, 22);
$secondary-theme-clr: rgb(255, 101, 47);

// Extra Colors
$btn-remove-clr: rgb(204, 0, 0);
$pill-btn-bg-clr: rgb(246, 246, 246);

// Borders colors
$main-column-border-clr: rgb(204, 204, 204);
$expense-border-clr: rgb(238, 238, 238);
$list-header-border-top-clr: rgb(243, 243, 243);
$hovered-list-header-border-top-clr: rgb(233, 233, 233);
$hovered-list-header-border-bottom-clr: rgb(230, 230, 230);
$profile-picture-border-clr: rgb(187, 187, 187);
$group-header-border-clr: rgb(221, 221, 221);
$btn-submit-expense-border-clr: rgba(0, 0, 0, 0.1);

// Extra
$el-br: 5px;
$main-column-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
$modal-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
$expense-icon-select-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

// Breakpoint
// $break-mobile: 450px;
// $break-small: 600px;
// $break-narrow: 750px;
// $break-normal: 1000px;
