.main-loader {
  grid-column: 2;
  border-inline: 1px solid $main-column-border-clr;
  padding-block-start: 150px;
  box-shadow: $loader-shadow;

  svg {
    width: 52px;
    height: 52px;
    margin-block-end: 6px;
    animation: rotate 1.2s steps(12) infinite;
  }

  .loading-msg {
    @include loadingMsg;
  }
}
