.general-header {
  padding: em(13px) em(10px) em(10px);
  border-block-end: 1px solid $group-header-border-clr;
  background-color: $expense-border-clr;

  .details-container {
    gap: 6px;

    .header-image {
      @include profilePicture;
    }

    .header-title {
      @include overflowTxt;
      padding-inline-start: 5px;

      font-size: em(24px);
      line-height: rem(38px);
      font-family: LatoBold, Arial, Helvetica, sans-serif;
    }
  }

  .btn-add-expense {
    @include btnAction($secondary-theme-clr);

    border-color: $btn-submit-expense-border-clr;
    text-shadow: 0 -1px 0 $secondary-theme-clr-20;

    &:hover {
      background-color: $secondary-theme-clr-10;
    }
  }
}
